# Mac files
.DS_Store

# Jekyll dev or build files
_site/*
_development_tool/*
.sass-cache/*
*.css.map
*.scssc

#
node_modules
Gemfile.lock
*.gem
*.gemspec
Gemfile
gulpfile.js


#
_drafts/*

#
package.json
package-lock.json
