.tag-list {
    width: 100%;
    font-size: 0.9em;
    padding-bottom: 3%;

    div.meta {
        margin-right: 0.5em;
        font-size: 1.1em;
    }

    a.button {
        margin: 0.1em;
        padding: 0.2em 0.4em;
        color: $orange;
        &:hover {
            background: $orange;
            color: $white;
            border: 1px solid $orange;
            text-decoration: none
        }
    }

    p {
        margin: 0;
        padding: 0 0.2em 0 0;
    }
}

.tag-anchor {
    margin-bottom: 3%;

    a {
        color: $orange;

        &:hover {
            color: $pink;
            text-decoration: none;
        }
    }
}

.tag-posts {
    margin-bottom: 3em;

    h3, h5 {
        font-weight: 400;
    }

    .meta {
        display: inline;
        float: right;
        font-size: 0.6em;
        color: $gray-500;
    }
}
