---
layout: default
---

<!-- Page Header -->
  <header class="masthead fullscreen" style="background-image: url('{{ page.background | prepend: site.baseurl}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="horizontal fullscreen">
            <div class="vertical">
              <p class="sentence">
                {{ content }}
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
